* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body {
    overflow-x: hidden;
}

/* background color for every page */

/* Home Page */
.vector {
    background-color: rgb(28, 61, 76);
    
}

.bg_1 {
    background: url("../images/scene-night.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Software Page */
.software {
    background-color: rgb(42, 5, 48);
}

.bg_2 {
    background: url("../images/sw_bg.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gallery Page */
/* 
.gallery {
    /* overflow: hidden; */

.gallery {
    background:linear-gradient(to bottom, rgb(189, 171, 206), rgb(80, 62, 80))
}

.bg_3 {
    background: url("../images/AI-bg.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    background-size: cover;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}

.max-width {
    width: 100%;
}

.navigation {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .logo {
    margin-left: 20px;
}

.navigation ul {
    display: flex;
}

.navigation ul li {
    list-style: none;
    margin-right: 60px;
}

/* .navigation ul li */
.home-list {
    color: rgb(34, 67, 82);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black;    */
}

.title {
    font-size: 100px;
    color: rgba(10, 20, 24, 0.836);
}

/* paragraph */
.paragraphs {
    margin-top: 25px;
}

.paragraphs .paragraphs-center {
    color: rgb(162, 195, 210);
    font-size: 20px;
    text-align: center;
}

h1 {
    color: rgb(109, 142, 157);
}

.upper-content {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    text-align: center;
}

.image-text-container {
    height: 100vh;
    width: 100vw;
    background: url("../images/scene-night_2.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -10px -10px 10px 20px rgb(28, 61, 76);

}

/* Benefits of Vector Graphics */
.main-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width: 90vw;
    border-radius: 45px;
    background-color: rgba(0, 0, 0, 0.325);
}

.index-image-container {
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-image-container h1 {
    color: rgb(220, 244, 254);
    text-align: center;
}

.index-image-container img {
    height: 400px;
    width: 350px;
    border-radius: 125px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-container p {
    color: rgb(220, 244, 254);
    text-align: left;
    font-size: 20px;
}

.index-image-container img {
    margin-top: 20px;
}

span {
    font-weight: bolder;
    font-size: 22px;
}


/* Software Content */


.software-list {
    color: rgb(186, 80, 58);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.put-margin {
    margin-top: 50px;
}

.put-margin p {
    color: rgb(189, 77, 53);
    font-size: 40px;
    font-weight: bold;
}

.software-image-container {
    display: flex;
    background-color: rgba(40, 1, 44, 0.589);
    border-radius: 50px;
    margin: 20px;
}

.software-image img{
    height: 300px;
    width: 300px;
}

.software-image-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.software-image-text-container p {
    color: rgb(193, 77, 70);
    font-size: 20px;
    font-weight: bold;
}

.center-text div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px;
}

.center-text div p {
    font-size: 50px;
    color: rgb(193, 77, 70);
    font-weight: 400;
    text-align: center;
}

/* Adobe illustrator section - Software HTML*/
.AI-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../images/bg-desktop.jpg") center no-repeat;
    background-size: cover;
    height: 450px;
    box-shadow: inset -10px -10px 10px 20px rgba(40, 1, 44);
}

.AI-container p {
    color: rgb(238, 99, 91);
    font-size: 20px;
    font-weight: bold;
}

.AI-image-text-container {
    margin-top: 20px;
}

.AI-image-background img {
    height: 600px;
    width: 1200px;
    border-radius: 20px;
}

.AI-container .AI-text-content {
    font-size: 18px;
    font-weight: 400;
    margin: 20px;
}

.AI-image-text-content {
    display: flex;
    align-items: center;
    background-color: rgba(40, 1, 44, 0.836);
    border-radius: 20px;
}

.AI-image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.AI-image-container img {
    margin: 20px;
    height: 250px;
    width: 250px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.AI-image-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 300px;
    text-align: center;
    
}

.AI-tutorial-download {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AI-tutorial-download p {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    color: rgb(193, 77, 70);
}

.put-border-radius iframe{
    border-radius: 20px;
}

.AI-download {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AI-download a{
    text-decoration: none;
    color: rgb(42, 5, 48);
    height: 30px;
    width: 90px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(193, 77, 70);;
}

/* End of Adobe Section - Software HTML */


/*Testimonies*/
.AI-CD-testimonies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.AI-CD-testimonies-text-image {
    height: 400px;
    width: 350px;
    background-color: rgba(85, 8, 97, 0.807);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.AI-CD-testimonies-text-image img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-size: contain;
    background-position: center;
    margin: 20px;
}

.AI-CD-testimonies-text {
    margin-top: 20px;
    width: 250px;
}

.AI-CD-testimonies-text h3 {
    margin-bottom:  10px;
}

.AI-CD-testimonies-text h3, .AI-CD-testimonies-text h4, .AI-CD-testimonies-text p {
    color: rgb(193, 77, 70);;
}
/* End of testimonies */



/* Corel Draw Section - Software HTML */
.CD-container p {
    color: rgb(238, 99, 91);
    font-size: 20px;
    font-weight: bold;
}

.CD-image-text-container {
    margin-top: 20px;
}

.CD-image-background img {
    height: 600px;
    width: 1200px;
    border-radius: 20px;
}

.CD-container .AI-text-content {
    font-size: 18px;
    font-weight: 400;
    margin: 20px;
}

.CD-image-text-content {
    display: flex;
    align-items: center;
    background-color: rgba(40, 1, 44, 0.836);
    border-radius: 20px;
}

.CD-image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.CD-image-container img {
    margin: 20px;
    height: 250px;
    width: 250px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.CD-image-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 300px;
    text-align: center;
    
}

.CD-tutorial-download {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CD-tutorial-download p {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    color: rgb(193, 77, 70);
}


.CD-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../images/table-sp.jpg") center no-repeat;
    background-size: cover;
    height: 450px;
    box-shadow: inset -10px -10px 10px 20px rgba(40, 1, 44);
}

.CD-image-text-content {
    display: flex;
    align-items: center;
    background-color: rgba(40, 1, 44, 0.836);
    border-radius: 20px;
}

.CD-image-text-container {
    margin-top: 20px;
}

.CD-download {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CD-download a{
    text-decoration: none;
    color: rgb(42, 5, 48);
    height: 30px;
    width: 90px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(193, 77, 70);
}

/* End of Corel Draw - Software HTML */


/* Start of Gallery Section */

.gallery ul li a {
    color: rgb(185, 147, 182);
}

/* .slider img {
    height: 100px;
    width: 300px;
    background-size: cover;
} */

.slide-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/10;
    overflow-x:  auto;
}

.gallery-slider {
    padding: 0;
    margin-bottom: 50px;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    position: absolute;
    background:linear-gradient(to bottom, rgb(80, 62, 80), rgb(189, 171, 206))
}

.image-slider {
    width: 100%;
    height: 600px;
    position: absolute;
    bottom: 0;  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .7s;
}

.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.slides-div img {
    position: relative;
    height: 500px;
    width: 900px;
    transition: .5s;
    filter: saturate(10%);
}

.button {
    position: absolute;
    height: 500px;
    width: 900px;
    transition: .5s;
    background-color: rgb(0, 0, 0, .4);
}

.button:hover {
    background-color: rgb(0, 0, 0, .2);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1 {
    height: 550px;
    width: 1000px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2 {
    height: 550px;
    width: 1000px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3 {
    height: 550px;
    width: 1000px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4 {
    height: 550px;
    width: 1000px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5 {
    height: 550px;
    width: 1000px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~ .image-slider #button-6 {
    height: 550px;
    width: 1000px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~ .image-slider #button-7  {
    height: 550px;
    width: 1000px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span1:target ~ .image-slider {
    left: 193%;
}

#slider-span2:target ~ .image-slider {
    left: 125%;
}

#slider-span3:target ~ .image-slider {
    left: 70%;
}

#slider-span4:target ~ .image-slider {
    left: 0%;
}

#slider-span5:target ~ .image-slider {
    left: -70%;
}

#slider-span6:target ~ .image-slider {
    left: -125%;
}

#slider-span7:target ~ .image-slider {
    left: -193%;
}

.gallery-images {
    margin-bottom: 100vh;
}

.contact-us {
    background: linear-gradient(to bottom, rgb(36, 69, 84), rgb(181, 214, 229))no-repeat;
    background-size: cover;
    height: 100vh;
}

.contact-us ul li a {
    color: rgb(168, 201, 216);
}

.contact-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contact-message-container {
    height: 70vh;
    width: 80vw;
    background-color: rgba(36, 69, 84, 0.619);
    border-radius: 50px;
}

.contact-info-container {
    float: left;
    width: 35%;
    height: 100%;
    border-radius: 50px 0 0 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    background-color: rgba(22, 42, 51, 0.619);
}

.centralize-content {
    margin: 40px;
    color: rgb(168, 201, 216);
}

.address, .email, .phone {
    display: flex;
    margin: 0 30px 30px 0;
}

.address img, .email img , .phone img {
    margin-right: 10px;
}

.social-media-icons {
    margin: 0 0 30px 20px;
}

.social-media-container {
    display: flex;
    justify-content: space-evenly;
}

.send-message-container {
    width: 65%;
    height: 100%;
    float: right;
    border-radius: 0 50px 50px 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}

.centralize-content input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(168, 201, 216);
    color: rgb(168, 201, 216);
    font-size: 17px;
    text-align: center;
}

.full-name, .email-mobile {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 50px;
}

.submit-button {
    margin-top: 20px;
    height: 60px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(176, 209, 224);
    border-radius: 20px;
    cursor: pointer;
    
}

.submit-button a {
    text-decoration: none;
    color: rgb(42, 67, 78);
    font-size: large;
    font-weight: bold;
}